<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>有馬記念出走馬</title>
</head>
<body>
  <h2>有馬記念出走馬の詳細</h2>
  <table>
    <tr><th>ID</th><th>枠</th><th>名前</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/arima/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/arima/create">追加</a>
</body>
</htm>
